a{
    text-decoration: none;
}
.section-box{
    background-color: whitesmoke;
    padding: 2rem;
}
.warrning-icon{
    color: rgb(165, 205, 247);
    margin-right: 1rem;
    font-size: 28px;
    
}
.logo{
    position: relative;
    bottom: 1.5rem;
}