.req-body{
    margin: auto;  
}
.chervon{
    margin-top: 0.5rem !important;
    font-size: .7rem;
    width: 1rem !important;
    height: 1rem;
    color: rgb(195, 195, 195) !important;
    background-color: lavender;
    border-radius: 50%;
}
.lavender-circle{
    background-color: lavender;
    border-radius: 50%;
    font-size: 1rem;
    width: 2rem !important;
    height: 2rem;
    margin-left: 1rem !important;
}
.circle1{
    color: blue;
    font-weight: bold;
    border: 3.5px solid rgb(70, 9, 127);
}
.line-input{
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0% !important;
}

.add-btn{
    color: blue;
    background-color: #0d6efd2e;
    border: 0;
    width: 9rem !important;
    height: 2.5rem;
    margin: 1.3rem 0.75rem 0 0 !important;
}
.next-btn{
    float: left !important;
    position: relative;
    bottom: 39px;
}
.radio-btn{
    float: right !important;
    margin-left: 1rem !important;
}


